/*boton de busquedas*/
$btn-outline-success-color:#020101;
$btn-success-border-color:#000000;

$btn-outline-success-hover-color: rgb(0, 0, 0);
$btn-outline-success-hover-background-color:#000000;
$btn-outline-success-hover-border-color:#000000;

$btn-outline-success-focus-box-shadow:0 0 0 0.2rem #000000;

$btn-outline-success-disabled-color:rgb(0, 0, 0);
$btn-outline-success-disabled-background-color:#000000;
$btn-outline-success-disabled-border-color:#000000;
$btn-outline-success-disabled-box-shadow:0 0 0 0.2rem;