/* Header */
.titulo {
    h1{
        font-family: $title-font;
        padding: 20px 0;
        text-align: center;
        font-size: 4.9em;
        letter-spacing: 4px;
        color: $gold;
    }
  }