$logo-width: 200px;
$imagen-principal-width: 33rem;
$imagen-streaming: 5rem 3rem 0 5rem;
$imagen-criptomonedas-padding: 5rem 3rem 0 6rem;
$imagen-ventajas-width: 200px;

$carousel-width: 310px;
$imagen-principal-responsive-xs: 19rem;