 /* menu */
 ul{ 
    font-family: $menu-font;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 20px;
    list-style: none;
    display: inline-flex;
    margin: 1px;

    li{
        background-color: $brown;
        margin: 6px;
        position: relative;
        letter-spacing: 2px;

        a{
        text-decoration: none;
        padding: 3px;
      }

      ul{
          li{
              a:hover{
                background-color: $gold;
                padding: 2px;
              }
          }
      }
   }

}



      

     

         
  
