$navbar-link-color: #ffffff;
$navbar-link-active-color: #ffffff;
$navbar-hover-color: #ffd700;
$dropdown-item-color:#0c0c0c;
$dropdown-item-hover-color:gold;
$dropdown-item-text-decoration: none;
$dropdown-item-background-color: #f8f9fa;


$form-control-focus-color: #ffd700;
$form-control-focus-background-color: #fff;
$form-control-focus-border-color: #ffd700;
$form-control-focus-outline: 0;
$form-control-focus-box-shadow: 0 0 0 0.2rem #ffd700;

$form-control-placeholder-color:#ffd700;
$form-control-border-color: #ffd700;

