$navbar-color: #000000;
$navbar-link-active-color: #000000;
$navbar-hover-color:#000000;
$dropdown-item-color:#000000;
$dropdown-item-hover-color:#000000;
$dropdown-item-text-decoration: none;
$dropdown-item-background-color: #000000;


$form-control-focus-color: #000000;
$form-control-focus-background-color: rgb(0, 0, 0);
$form-control-focus-border-color: #000000;
$form-control-focus-outline: 0;
$form-control-focus-box-shadow: 0 0 0 0.2rem #000000;

$form-control-placeholder-color:#000000;
$form-control-border-color:#000000;
