@import "colores";
@import "fuentes";
@import "botones";
@import "imagenes";
@import "navbar";
@import "mixins";
@import "posiciones";

body {
    font-family: $body-font-family;
  }
  h1 {
    font-family: $h1-font-family;
    font-size: $h1-font-size;
    font-weight: $h1-font-weight;
    color: $h1-color;
    margin-top: $margin-top-dos;
  }
  h2 {
    font-size: $h2-font-size;
    color: $h2-color;
  }
  h3 {
    font-size: $h3-font-size;
  }
  
  h4 {
    font-size: $h4-font-size;
  }
  a {
    color: $color-principal;
  }
  /* Animaciones */
  
  h1 {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  /* Logo */
  .logo {
    width: $logo-width;
  }
  
  /* Barra de navegacion */
  .navbar-light .navbar-nav .nav-link {
    color: $navbar-link-color;
  }
  .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .show > .nav-link {
    color:$navbar-link-active-color;
  }
  
  .navbar-light .navbar-text a:hover,
  .navbar-light .navbar-text a:focus {
    color: $navbar-hover-color;
  }
  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:hover {
    color: $navbar-hover-color;
  }
  .dropdown-item {
    color: $dropdown-item-color;
  }
  .dropdown-item:hover,
  .dropdown-item:focus {
    color: $dropdown-item-hover-color;
    text-decoration: $dropdown-item-text-decoration;
    background-color: #000007;
  }
  .form-control:focus {
    color: $form-control-focus-color;
    background-color: $form-control-focus-background-color;
    border-color: $form-control-focus-border-color;
    outline: $form-control-focus-outline;
    box-shadow: $form-control-focus-box-shadow;
  }
  
  .form-control::placeholder {
    color: $form-control-placeholder-color;
  }
  .form-control {
    border-color: $form-control-border-color;
  }
  
  /* Botones */
  .btn-outline-success {
    color: $btn-outline-success-color;
    border-color: $btn-success-border-color;
  }
  .btn-outline-success:hover {
    color: $btn-outline-success-hover-color;
    background-color: $btn-outline-success-hover-background-color;
    border-color: $btn-outline-success-hover-border-color;
  }
  .btn-outline-success.focus,
  .btn-outline-success:focus {
    box-shadow: $btn-outline-success-focus-box-shadow;
  }
  
  .btn-outline-success:not(:disabled):not(.disabled).active,
  .btn-outline-success:not(:disabled):not(.disabled):active,
  .show > .btn-outline-success.dropdown-toggle {
    color: $btn-outline-success-disabled-color;
    background-color: $btn-outline-success-disabled-background-color;
    border-color: $btn-outline-success-disabled-border-color;
  }
  .btn-outline-success:not(:disabled):not(.disabled).active:focus,
  .btn-outline-success:not(:disabled):not(.disabled):active:focus,
  .show > .btn-outline-success.dropdown-toggle:focus {
    box-shadow: $btn-outline-success-disabled-box-shadow;
  }
  .margin-arriba {
    margin-top: 1rem !important;
    margin-left: 2.5rem !important;
  }
  .item-inicio{
    margin-left: -11px
  }
  /* Contenido principal */
  
  .contenido-header {
    @include flexbox-space-between;
    margin: 0 auto;
    .subtitulo {
      font-size: $subtitulo-font-size;
      margin-top: $margin-top-cuatro;
      color: $color-secundario;
    }
    .imagen-principal {
      width: $imagen-principal-width;
    }
  }
  
 
  /* Menu */
  
  .contenido-principal {
    @include flexbox-center;
    margin-top: $margin-top-dos;
    @include text-align-center;
    .imagen-acciones-de-streaming{
      &:hover {
        @include tranform-scale;
      }
    }
    .imagen-criptomonedas {
      &:hover {
        @include tranform-scale;
      }
    }
  }
  
  
  .invertir-beneficios {
    margin-top: $margin-top-cinco;
    h2 {
      @include text-align-center;
      margin-top: $margin-top-tres;
    }
  }
  .ventajas {
    @include flexbox-space-between;
    @include text-align-center;
    img {
      width: $imagen-streaming-width;
      margin-top: $margin-top-dos;
    }
  }
  
  .carousel,
  .carousel-inner > .item > img {
    width: $carousel-width;
  }
  
  .carousel {
    margin: $margin-cero-auto;
  }
  .acceso,
  .cuenta,
  .gratis,
  .cobertura {
    &:hover {
      @include transform-scale-dos;
    }
  }
  /* Fin del menu */
  
  /* Seccion porque nosotros */
  .porque-nosotros {
    margin-top: $margin-top-cinco;
  }
  .nosotros {
    @include flexbox-center;
    margin-top: $margin-top-dos;
    img {
      width: $imagen-nosotros-width;
    }
  }
  
  /* Fin de seccion porque nosotros */
  
  .margen {
    margin-top: $margin-top-cinco;
  }
  
  .list-unstyled {
    @include flexbox-space-between;
  }
  .follow {
    font-size: $follow-font-size;
  }
  .enlace-arriba {
    position: absolute;
    right: 1rem;
    bottom: 17rem;
    .btn-outline-success {
      border-width: 3px;
    }
  }
 

  /* Respaldo para Edge */
  
  @supports (-ms-ime-align: auto) {
    .form-label-group > label {
      display: none;
    }
    .form-label-group input::-ms-input-placeholder {
      color: #5d685c;
    }
  }
  
  /* Respaldo para Internet Explorer */
  
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-label-group > label {
      display: none;
    }
    .form-label-group input:-ms-input-placeholder {
      color: #5d685c;
    }
  }
  
  /* Mediaqueries */
   
  @media only screen and (min-width: 300px) and (max-width: 590px) {
    .contenido-header {
      .imagen-principal {
        width: $imagen-principal-responsive-xs;
        display: block;
        margin: auto;
      }
    }
    .contenido-header .subtitulo {
      font-size: 16px;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    .titulo {
      font-size: 1.8rem !important;
    }
    .contenido-header {
      flex-wrap: wrap;
    }
    .contenido-principal {
      flex-wrap: wrap;
      margin: $margin-cero-auto;
      margin-top: 3rem;
      .imagen-criptomonedas-1 {
        padding: 0;
        width: 12rem;
        margin-bottom: 3rem;
      }
      .imagen-streaming-1 {
        padding: 0;
        width: 12rem;
        margin-bottom: 2rem;
      }
    }

    .nosotros {
      margin-top: 2rem;
      flex-wrap: wrap;
      justify-content: center;
      margin: $margin-cero-auto;
    }
    .nosotros img {
      margin: 2rem auto 0;
      display: block;
    }
    .list-unstyled {
      flex-wrap: wrap;
    }
    .enlace-arriba {
      bottom: 23rem;
    }
    
    .alineacion {
      display: block;
      margin: 2rem 2rem;
    }
    .navbar-mobile {
      background: #000007;
      padding: 1rem;
    }
    .boton-enviar-busqueda {
      margin-left: 1rem;
    }
    .menu-navegacion {
      position: relative;
    }
  }

  
  @media only screen and (min-width: 450px) and (max-width: 590px) {
    .alineacion {
      display: block;
      margin: 0 auto;
    }
    .menu-navegacion {
      position: relative;
    }
    .navbar-mobile {
      background: #000007;
      padding: 1rem;
    }
  }


  @media only screen and (min-width: 591px) and (max-width: 767px) {
    .imagen-principal {
      width: 24rem !important;
    }
    .contenido-header {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }
    .contenido-principal {
      text-align: center;
  
      .imagen-criptomonedas-1 {
        padding: 0;
        width: 15rem;
      }
      .imagen-acciones-de-streaming-1 {
        padding: 0;
        width: 15rem;
      }
    }
  
    .nosotros img {
      width: 169px;
      margin-left: 10px;
    }
    .nosotros {
      flex-wrap: nowrap;
      justify-content: center;
    }
    
    .enlace-arriba {
      bottom: 20rem;
    }
    .row-size-md {
      width: 37rem;
      margin: 0;
    }
    .menu-navegacion {
      position: relative;
    }
    .navbar-mobile {
      background: #000007;
      padding: 1rem;
    }
  }
  

  @media only screen and (min-width: 768px) and (max-width: 960px) {
    .contenido-header {
      flex-wrap: wrap;
      justify-content: center;
      text-align: left;
      .subtitulo {
        font-size: 16px;
        margin-top: 53px;
      }
      .imagen-principal {
        width: 24rem;
        margin-top: 32px;
      }
    }
    .titulo {
      font-size: 2rem !important;
    }
    .contenido-principal {
      text-align: center;
  
      .imagen-criptomonedas {
        padding: 0;
        width: 19rem;
      }
      .imagen-streaming {
        padding: 0;
        width: 19rem;
      }
    }
    .nosotros img {
      width: 169px;
    }

    .app {
      bottom: -4rem;
      text-align: center;
      left: 49rem;
    }

    .enlace-arriba {
      bottom: 18rem;
    }
    .row-size-md {
      width: 37rem;
      margin: 0;
    }
    .alineacion {
      margin: 0 auto;
    }
    .menu-navegacion {
      position: relative;
    }
    .navbar-mobile {
      background: #000007;
      padding: 1rem;
    }
  }
  
  
  @media (max-width: 767.98px) {
    .ftco-counter .counter-wrap {
      margin-bottom: 20px; } }

.block-20 {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: block;
  width: 100%;
  height: 200px;
  margin-bottom: 20px; }

